.recette {
  --background: none;
  background-image: url('./fondVert.jpg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  $alert-md-message-text-color: rgb(111,137,36);
}

.transparent {
  background-color: transparent;
}

.vert {
  --background : rgb(111,137,36)
}

.vertClair {
  --background : rgb(181,198,118)
}

.beige {
  --background : rgb(237,235,223)
}


