#AjoutRecette {
    --background: none;
    background-image: url('./fondBleu.jpg');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
.transparent {
  background-color: transparent;
}
  
.bleu {
  --color: rgb(117,173,183);
  --background: white;
  --border-color: rgb(117,173,183);
  --border-style: solid;
  font-weight: 700;
}

.bleuClair {
  --background : rgb(208,229,230)
}

#boutonBleu {
  --background: rgb(117,173,183);
}

.input {
  --placeholder-font-weight: 600;
  --placeholder-font-style: italic;
}

#select {
  --placeholder-opacity: 0.7;
}