#AffichageRecette {
    --background: none;
    background-image: url('./fondRouge.jpg');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
.transparent {
    background-color: transparent;
  }

.rouge {
    --background: rgb(166,0,46);
}

.rougeClair {
  --background: rgb(205,87,99);
}