.tab-vert {
    --color-selected : rgb(111,137,36);
    --background : white;
  }

.tab-bleu {
    --color-selected : rgb(117,173,183);
    --background : white;
  }

  .tab-rouge {
    --color-selected :  rgb(166,0,46);
    --background : white;
  }

